model: EEGNet
is_training: true
random_seed: 2024
dataset: THU
n_fold: null
epochs: 200
weight_decay: 0.0001
patience: 10
use_gpu: true
train_mode: cross-subject
data_mix: true
class_weighted_ce: true
use_target_stream: false
dataset_root: E:/learning_projects/few-shot-learning_RSVP/Dataset

log_runtime: true
rt_deadline_ms: 200.0

datasets:
  THU:
    sub_num: 64
    n_channels: 62
    fs: 128
    n_class: 2
    batch_size: 32
  CAS:
    sub_num: 14
    n_channels: 62
    fs: 128
    n_class: 2
    batch_size: 32
  GIST:
    sub_num: 55
    n_channels: 32
    fs: 128
    n_class: 2
    batch_size: 32
  TCTR_1:
    sub_num: 15
    n_channels: 64
    fs: 128
    n_class: 2
    batch_size: 32
  TCTR_2:
    sub_num: 15
    n_channels: 64
    fs: 128
    n_class: 2
    batch_size: 32
  TCTR_A:
    sub_num: 15
    n_channels: 64
    fs: 128
    n_class: 2
    batch_size: 32
  TCTR_B:
    sub_num: 15
    n_channels: 64
    fs: 128
    n_class: 2
    batch_size: 32

models:
  DeepConvNet:
    learning_rate: 0.00005
    train_algorithm: ce

  EEGNet:
    learning_rate: 0.001
    train_algorithm: ce

  PLNet:
    learning_rate: 0.001
    train_algorithm: ce

  EEGInception:
    learning_rate: 0.0001
    train_algorithm: ce

  PPNN:
    learning_rate: 0.0001
    train_algorithm: ce
